.page-main__title {
  padding-left: 16px;
  margin: 0;

  font-size: 20px;
  letter-spacing: 1px;
}

.page-main__promo {
  margin-bottom: 80px;
}

.page-main__search {
  padding-left: 16px;
  margin-bottom: $section-margin-bottom;
}

.page-main__categories {
  margin-bottom: $section-margin-bottom;
}

.page-main__category-slider {
  margin-bottom: $section-margin-bottom;
}

.page-main__banner {
  margin-bottom: $section-margin-bottom;
}

.page-main__breadcrumbs {
  margin-bottom: 31px;
}

.page-main__control-panel {
  margin-top: 23px;
}

.page-main__filters {
  // Будут свойства
}

@media (min-width: $desktop-width) {
  .page-main {
    padding-bottom: 15px;
  }

  .page-main__title {
    width: 1170px;
    padding-left: 0;
    margin: 0 auto 10px;

    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.5px;
  }

  .page-main__promo {
    @include desktop-wrapper;
    margin-bottom: 73px;
  }

  .page-main__search {
    @include desktop-wrapper;
    padding: 0;
    margin-bottom: $section-margin-bottom;
  }

  .page-main__categories {
    @include desktop-wrapper;
    margin-bottom: $section-margin-bottom;
  }

  .page-main__category-slider {
    @include desktop-wrapper;
    margin-bottom: $section-margin-bottom;
  }

  .page-main__banner {
    @include desktop-wrapper;
    margin-bottom: $section-margin-bottom;
  }

  .page-main__breadcrumbs {
    margin-bottom: 40px;
  }

  .page-main__control-panel {
    @include desktop-wrapper;
    margin-bottom: $section-margin-bottom;
  }
}
